
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width to start */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px;
    left: 0px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable vertical */
    overflow-y: hidden;  /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.6s;  /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.8;
}

.sidenavOpen {
    width: 200px; /* opening window using sideNavStatus  from css ko bindng*/
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #cfcfcf; 
    display: block;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav li:hover, 
.offcanvas li:focus {
    color: #ffffff;
    background: #024b9d;
}


/* Position and style the close button (top right corner) */
.sidenav 
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}

.closebtn {
    color:#cfcfcf;;
    cursor:  pointer;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}

.mapMain {
    position: absolute; /* Stay in place */
    z-index: -1; /* Stay on the botton  */
    top: 0;
    left:0;
    background-color:gray;
    height: 100vh;
    width: 100vw;
}

.control {
color:#cfcfcf;
padding: 0px 0px 0px 0px;

}

.nav-list {
 overflow-y:auto; 
 height: 70%;  
}

.nav-items {
    padding: 0px;
    text-decoration: none;
    font-size: 10px;
    color: #cfcfcf; /* #818181; */
    display: block;
    cursor: pointer;   
    text-align: left;
}


#main {
    
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px ) and (max-width: 600px)  {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 20px;}
    .control{
            color:#cfcfcf;
            padding: 1px 1px 1px 1px;
        }

}